### SMTP / Notificaciones (Mailcow)
SMTP_HOST=10.10.10.176
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=notificaciones@tdcom.cl
SMTP_FROM=notificaciones@tdcom.cl
SMTP_PASS=xoKjub-dorkyv-rokzy2
ALERT_EMAILS=crt@tdcom.cl,franciscaasenciomaleno1@gmail.com

# TLS (si te conectas por IP y el cert es para hostname, puede dar mismatch)
SMTP_TLS_REJECT_UNAUTHORIZED=false
# Si tienes el hostname del certificado, puedes fijarlo acá:
# SMTP_TLS_SERVERNAME=mail.tudominio.cl

### Odoo (opcional por variables de entorno)
# ODOO_URL=http://10.10.10.166:8086
# ODOO_DB=pools
# ODOO_USERNAME=admin
# ODOO_PASSWORD=admin

